.wrapper{
    width: 100%;
    min-height: 100vh -60px;
    min-height: 200px;
    color: var(--text-color);
    background-color: var(--white-color);
    padding-top: 8px;
    box-shadow: rgb(0 0 0 / 12%) 0  2px 12px;
    border-radius: 8px;
}